*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Styling */
::placeholder {
  font-weight: 700;
}

/* Older browsers with vendor prefixes */
input:-ms-input-placeholder {
  /* Internet Explorer */
  font-weight: 700;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 700;
}

input::-webkit-input-placeholder {
  /* Safari and Chrome */
  font-weight: 700;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-weight: 700;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-weight: 700;
}

body {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.age-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  padding: 40px 20px;
  overflow: hidden;
  width: 90vw;
  max-width: 550px;
}

@media (min-width: 37.5em) {
  .age-container {
    padding: 40px;
    border-bottom-right-radius: 150px;
  }
}

.form-container {
  display: flex;
  column-gap: 10px;
  position: relative;
}

.input-group {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.input-group label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0.45rem;
}

.input-group label.text-error {
  color: hsl(0, 100%, 67%);
}

.input-group input {
  border: 1px solid hsl(0, 33%, 86%);
  border-radius: 7px;
  font-weight: 700;
  padding: 10px 15px;
  width: 100%;
}

.input-group input.input-error {
  border: 1px solid hsl(0, 100%, 67%);
}

.input-group span {
  font-size: 11px;
  font-style: italic;
  display: inline-block;
  margin-top: 6px;
  color: hsl(0, 100%, 67%);
  font-weight: 500;
}

.button-container {
  position: relative;
  margin-top: 30px;
  text-align: center;
}

.button-container::before {
  content: "";
  display: block;
  width: 80vw;
  position: absolute;
  top: 35px;
  height: 1px;
  background-color: hsl(0, 0%, 86%);
}

@media (min-width: 31.25em) {
  .form-container {
    width: 410px;
    column-gap: 0;
  }

  .input-group input {
    width: 80%;
    font-size: 1.25rem;
  }

  .button-container {
    text-align: right;
  }

  .button-container::before {
    width: 400px;
  }
}

.submit-btn {
  border: 0;
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: relative;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 8%);
}

#result {
  line-height: 1.2;
  margin-top: 20px;
}

#result span {
  color: hsl(259, 100%, 65%);
}

#result h2 {
  font-size: 2.7rem;
  font-style: italic;
  font-weight: 800;
}

@media (min-width: 31.25em) {
  #result {
    margin-top: 0;
  }

  #result h2 {
    font-size: 4rem;
  }
}
